<?xml version="1.0"?>
<launch>

  <node pkg="laser_filters" type="scan_to_cloud_filter_chain" name="hokuyo_cloud_filter">
    <rosparam command="load" file="$(find explore_3d_pkg)/config/laser_filter.yaml" />
    <param name="high_fidelity" value="false" />
    <remap from="scan" to="/laser/scan" />
    <param name="target_frame" type="string" value="base_link" />
    <remap from="cloud_filtered" to="/cloud/hokuyo" />
  </node>

</launch>
