<?xml version="1.0"?>
<launch>
    <node name="la_dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                la_roll_pitch_port:
                    port_name: "/dev/laser_alignment"
                    baud_rate: 57600
                    min_motor_id: 11
                    max_motor_id: 12
                    update_rate: 20
        </rosparam>
    </node>

    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find tedusar_laser_alignment)/config/dynamixel_laser_alignment_controler.yaml" command="load"/>
</launch>
