<launch>
  <!-- send table.xml to param server -->
  <arg name="name" default="pioneer"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find p2os_urdf)/defs/pioneer3dx-lms100.xacro" />
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0"/>
    <param name="tf_prefix" type="string" value="$(arg name)"/>
   </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="respawn_gazebo" value="true"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_pioneer" pkg="gazebo_ros" type="spawn_model"
        args="-x 1.0 -y 1.0 -z 0.1 -urdf -param robot_description -model
              robot_description" respawn="false" output="screen" />


  <!-- Get fake localization data as a transform -->
    <node pkg="fake_localization" type="fake_localization" name="fakeloc">
      <param name="odom_frame_id" value="$(arg name)/odom"/>
      <param name="global_frame_id" value="$(arg name)/map"/>
      <param name="base_frame_id" value="$(arg name)/base_link"/>
    </node>


    <!-- rviz for visualization -->
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find lattice_navigation_demos)/rviz/pioneer-control.rviz"/>
</launch>
