<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
name="pioneer3at">

<include filename="$(find p2os_urdf)/defs/pioneer3at_body.xacro"/>

<!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points">
    <origin xyz="0 0 0.4" rpy="0 0 0" />
  </VLP-16> -->

<xacro:include filename="$(find tedusar_laser_alignment)/urdf/tedusar_laser_alignment_without_laser.urdf" />

<joint name="base_to_laser_alignment" type="fixed">
        <parent link="base_link" />
        <child link="la_base_link" />
        <origin xyz="0.3 0 0.3" rpy="0 0 0" />
</joint>



<!-- Testing servo motor-->
<!--<transmission type="pr2_mechanism_model/SimpleTransmission" name="la_roll_joint">
    <actuator name="kinect_motor" />
    <joint name="la_roll_joint" />
    <mechanicalReduction>1.0</mechanicalReduction>
    <motorTorqueConstant>1.0</motorTorqueConstant>
 </transmission>

 <gazebo reference="kinect_joint">
    <erp>0.1</erp>
    <stopKd value="100000000.0" />
    <stopKp value="100000000.0" />
    <fudgeFactor value="0.5" />
 </gazebo>-->

<!--<gazebo>   
     <plugin name="ros_control" filename="libgazebo_ros_control.so"> -->
     <!--<controller:gazebo_ros_controller_manager name="gazebo_ros_controller_manager" plugin="libgazebo_ros_controller_manager.so"> 
          <alwaysOn>true</alwaysOn>
          <updateRate>1000.0</updateRate>
          <robotNamespace></robotNamespace>
          <robotParam>robot_description</robotParam>
          <interface:audio name="gazebo_ros_controller_manager_dummy_iface" /> -->
     <!--</controller:gazebo_ros_controller_manager> -->
   <!--  </plugin>
</gazebo> -->





<!-- This adds the laser macro, including the scan for gazebo and link name -->
 <!-- <include filename="$(find pr2_description)/urdf/sensors/hokuyo_lx30_laser.urdf.xacro" />
  <xacro:hokuyo_lx30_laser_v0 name="laser" parent="la_base" ros_topic="hokuyo_scan"
                              update_rate="20" min_angle="-1.57" max_angle="1.57" >
      <origin xyz="0 -.220 0.200" rpy="0 0 0" />
  </xacro:hokuyo_lx30_laser_v0>

-->



  <!-- This adds a visual box to allow us to see the Hokuyo in rviz/gazebo -->
  <!-- <joint name="side_laser_box_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="side_laser_link" />
    <child link="side_laser_box_link"/>
  </joint>
  <link name="side_laser_box_link">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001"  ixy="0.0"  ixz="0.0"
               iyy="0.001"  iyz="0.0"
               izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.1" />
      </geometry>
    </collision>
  </link> -->

<xacro:p3at_front suffix="left" reflect="1"/>
<xacro:p3at_front suffix="right" reflect="-1"/>
<xacro:p3at_back suffix="left" reflect="1"/>
<xacro:p3at_back suffix="right" reflect="-1"/>
<xacro:p3at_gazebo_ext/>


  <!-- import a Pikachu just for fun. For copyright see: http://www.thingiverse.com/thing:80886 -->
  <!-- Edit: For Copyright see https://github.com/sirikata/sirikata/tree/master/test/unit/libmesh/collada/pikachu -->

  <!--<gazebo reference="pikachu">
      <material>Gazebo/Yellow</material>
  </gazebo>-->

</robot>
