<launch>
  <arg name="robot_name" default="$(env ROBOT_NAME)" />
  <arg name="Gain" default="30" />
  <arg name="ExposureTime" default="5000" />
  <arg name="TimeOffset" default="-0.0591562746534" />

  <group ns="$(arg robot_name)">
    <!-- Launch the Smartek camera driver. -->
    <node pkg="smartek_camera" name="camera" type="smartek_camera_node" output="screen" >
      <param name="timestamp_synchronizer/timeOffset" value="$(arg TimeOffset)" />
      <param name="Gain" value="$(arg Gain)" />
      <param name="ExposureTime" value="$(arg ExposureTime)" />
      <param name="frame_id" value="$(arg robot_name)/camera" />
    </node>
  </group>

</launch>
