<launch>
  <arg name="robot_name" default="$(env ROBOT_NAME)" />
  <arg name="TimeOffset" default="0.015" />

  <group ns="$(arg robot_name)">
    <!-- Launch the SICK300 driver. -->
    <node pkg="sicks300" name="sicks300" type="sick300_driver" output="screen" >
      <param name="devicename" value="/dev/ES522_1" />
      <!-- param name="baudrate" value="500000" / -->
      <param name="timestamp_synchronizer/timeOffset" value="$(arg TimeOffset)" />
      <param name="frame" value="$(arg robot_name)/laser" />
      <param name="send_transform" value="false" />
      <param name="connect_cmd" value="$(find amacal_data_logging)/scripts/ES522.sh" />
      <param name="scan_period_length" value="0.0393825" />
    </node>
  </group>

</launch>

